<%- include('layouts/header') %>

    <!-- Page Wrapper -->
    <div id="wrapper">

       
        <%- include('layouts/sidebar') %>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <%- include('layouts/topnav') %>

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Add Banner</h1>
                            </div>

                            <form action="/admin/add-banner" method="post">

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Enter Heading</label><br>
                                    <input type="text" class="form-control" name="heading" id="heading" aria-describedby="emailHelp" placeholder="Enter Heading" style="font-size: 1.2rem;">

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Enter Details</label><br>
                                    <textarea name="text" id="text"></textarea>
                                </div>
                                

                                <button type="submit" class="btn btn-primary">Add-Details</button>
                            </form>
                            <hr>
                           
                        </div>
                        <!-- End Begin Page Content -->
                </div>
                <!-- End of Main Content -->

                <%- include('layouts/siteFooter') %>
            </div>
            <!-- End of Content Wrapper -->
    
 </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

               
                    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
                    <script>
                        CKEDITOR.replace('text');
                    </script>