<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa-brands fa-d-and-d"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Sagar<sup>'s</sup><br>
            Blogging</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->

   

    <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
            <i class="fa-solid fa-gauge-high"></i>
            <span>Dashboard</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/show-blog-list">
            <i class="fa-brands fa-blogger-b"></i>
            <span>Blogs</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#coupon" aria-expanded="true" aria-controls="coupon">
            <i class="fa-regular fa-rectangle-list"></i>
            <span>Categories</span>
        </a>
        <div id="coupon" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/show-category-form"><i class="fa-solid fa-plus"></i>Add Category</a>
                <a class="collapse-item" href="/admin/view-category"><i class="fa-solid fa-binoculars"></i>View Categories</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/show-user-list">
            <i class="fa-solid fa-users"></i>
            <span>Users</span></a>
    </li>

   <li class="nav-item">
        <a class="nav-link" href="/admin/show-banner-form">
            <i class="fa-solid fa-flag"></i>
            <span>Banners</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/show-comment-list">
            <i class="fa-solid fa-comment-dots"></i>
            <span>Comments</span></a>
    </li>

    


    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->