<%- include("partial/header.ejs") %>
    <%- include("partial/header-top.ejs") %>

        <!-- login-page -->
        <div class="login">
            <div class="login-grids">
                <div class="col-md-6 log">
                    <h3>Reset Your Password</h3>
                  

                            <form action="/resetpassword/:email/:forgottoken" method="post">
                               
                                <h5>New Password:</h5>
                                <input type="password" name="password" id="password">
                                <h5>Confirm Password:</h5>
                                <input type="password" name="confirmpassword" id="cofirmpassword"><br>
                                <br>
                                <hr>
                                <input type="hidden" value="<%= data._id %>" name="id">
                                <input type="submit" value="Change Password">
                              
                            </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //login-page -->
        <%- include("partial/footer.ejs") %>